
.bodyContainer {
    position: relative;
    padding-top: 33px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.bodyContainer > p {
    position: absolute;
    background-color: #f4ca5c;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 30px;
    transform: rotate(-8deg) translate(80px, -80px);
}
.sectionCollection {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    gap: 150px;
    padding: 30px 70px;
}

