.sectionProduits {
    position: relative;
    padding: 20px;
    background: linear-gradient(90deg,#5a5959,#c0bbba);
    padding-top: 120px;
}

.sectionProduits span {
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-color: #c0bbba;
    position: absolute;
    text-align: center;
    border: 10px solid white;
    right: 20px;
    top: -50px;
    
}

.sectionProduits span p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
    color: white
}

.sectionProduits .produits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
}

.sectionProduits .boutonProduit {
    position: relative;
    display: inline-block;
    width: auto;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    background-color: #c0bbba;
    margin-bottom: 80px;
    text-align: center;
    line-height: 60px;
    font-size: 1.7em;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
    padding: 0 20px;
}

.sectionProduits .boutonProduit:hover {
    background-color:burlywood
}