@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Tangerine&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}